body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Setting a background color for the body */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Using min-height instead of height for better responsiveness */
}

.main-container {
  display: flex;
  flex: 1;
}

.main-content {
  background-color: rgb(231 234 235);
  padding: 20px;
  margin-top: 40px;
  flex-grow: 1;
}

.content {
  margin-top: 30px;
  background-color: rgb(255 255 255);
  border-radius: 5px; 
  padding: 20px;
}

.footer {
  background-color: #616F77;
  color: white;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
